.blog__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 48px;
  padding-bottom: 60px;

  @include tablet {
    padding-top: 27px;
    padding-bottom: 7px;
  }

  @include mobile {
    padding-top: 40px;
  }
}

.blog__wrapper h2 {
  margin: 0;
  padding-bottom: 21px;
  letter-spacing: 0.03em;
}

.blog__wrapper a {
  @include link-default-remove;
  align-self: center;
  padding-bottom: 3px;
  margin-bottom: 60px;
  font-weight: $medium-font-weight;
  line-height: $link-line-height;
  border-bottom: 1px solid $checked-brown;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @include mobile {
    margin-bottom: 49px;
  }
}

.blog__content-wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 30px;

  @include tablet {
    display: flex;
    flex-direction: column;
    gap: 0;
  }
}
