.company-information__wrapper {
  min-height: 528px;
  display: flex;
  justify-content: center;
}

.company-information__content {
  position: relative;
  max-width: 984px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 172px;
  z-index: 2;

  &::before {
    position: absolute;
    content: "";
    width: 362px;
    height: 321px;
    background-image: url("../img/company.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    top: 2px;
    left: -210px;
    z-index: -1;
  }

  @include tablet {
    margin-left: 195px;
    padding-right: 10px;

    &::before {
      width: 339px;
      height: 355px;
      left: -216px;
    }
  }

  @include mobile {
    width: 100%;
    margin: 0;
    padding: 0;

    &::before {
      display: none;
    }
  }
}

.company-information h2 {
  @include font-options($family-roboto, $title-font-size, $title-line-height, $regular-font-weight, $base-color);
  margin: 0;
  padding-bottom: 23px;

  @include tablet {
    padding-bottom: 26px;
    font-size: $title-tablet-size;
    line-height: $title-tablet-height;
  }

  @include mobile {
    font-size: $title-mobile-size;
    line-height: $title-mobile-height;
    padding-bottom: 0;
  }
}

.company-information p {
  margin: 0;
  padding-bottom: 23px;

  @include tablet {
    padding-bottom: 26px;
    padding-left: 2px;
  }

  @include mobile {
    padding-bottom: 22px;
    padding-top: 23px;
  }
}

.company-information span {
  @include tablet {
    display: none;
  }
}

.company-information button {
  width: 180px;
  height: 45px;
  text-transform: uppercase;
  color: $blue;
  border: 1px solid $blue;
  border-radius: 5px;
  background-color: inherit;
  margin-top: 17px;

  @include mobile {
    margin-top: 13px;
  }
}
