.form--no-js {
  flex-direction: column;
  transition-duration: 300ms;
  padding: 0 0 20px;
}

.form--close,
.form--open {
  @include tablet {
    width: 439px;
    position: absolute;
    background-color: $white;
    z-index: 5;
    top: 0;
    left: 0;
    padding: 0;
    padding-top: 27px;
    padding-right: 18px;
    background-clip: content-box;
  }

  @include mobile {
    background-clip: border-box;
    width: 100%;
    padding: 76px 25px 0;
  }
}

.form--close {
  @include tablet {
    transform: translateX(-100%);
  }
}

.form--open {
  @include tablet {
    overflow-y: auto;
    transform: translateX(0%);
    transition-duration: 100ms;
    right: 0;
    margin: 0;
  }
}

form {
  width: 250px;
  display: flex;
  flex-direction: column;

  @include tablet {
    width: 100%;
    padding-bottom: 35px;
  }
}

.form__toggle-menu {
  display: none;

  @include tablet {
    display: block;
    position: absolute;
    width: 32px;
    min-height: 32px;
    border: 1px solid transparent;
    border-radius: 50%;
    background-color: $black;
    top: 11px;
    right: 0;
    z-index: 3;

    &::before,
    &::after {
      position: absolute;
      content: "";
      width: 17px;
      height: 2px;
      background-color: $white;
      top: 45%;
      left: 21%;
      z-index: 4;
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }
  }

  @include mobile {
    top: 60px;
    right: 15px;
  }
}

.form__toggle-menu--no-js {
  display: none;
}

.form__filter {
  display: flex;
  flex-direction: column;
  border: 1px solid $checked-brown;
  padding: 0;
  margin-top: -1px;
  position: relative;

  @include tablet {
    border: none;
    border-bottom: 1px solid $checked-brown;
    margin-top: 0;
  }
}

.form__filter--close {
  ul {
    display: none;
  }

  div {
    display: none;
  }
}

.form__button-toggle {
  font-weight: $medium-font-weight;
  font-size: $base-font-size;
  margin: 0;
  cursor: pointer;
  outline: none;
  border: none;
  background-color: transparent;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-height: 67px;
  padding: 10px 43px 10px 25px;

  &:hover,
  &:focus {
    color: $checked-brown;

    &::before {
      transition-duration: 500ms;
      transform: translate3d(0, -15%, 0);
    }
  }

  &:active {
    opacity: 30%;
  }

  &::before {
    position: absolute;
    content: "";
    width: 25px;
    height: 25px;
    background-image: url("../img/open-filter.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    top: 20px;
    right: 19px;
  }

  @include tablet {
    font-size: $questions-font-size;
    line-height: $questions-line-height;
    min-height: 75px;
    padding: 21px 64px 6px 22px;
    margin-bottom: 6px;

    &::before {
      background-size: 100%;
      top: 33px;
      right: 37px;
    }
  }

  @include mobile {
    padding: 10px 43px 11px 21px;
    min-height: 71px;
    margin: 0;

    &::before {
      background-size: 86%;
      top: 24px;
      right: 18px;
    }
  }
}

.form__button-toggle--close {
  &::before {
    background-image: url("../img/close-filter.svg");
  }

  &:hover,
  &:focus {
    &::before {
      transform: translate3d(0, 15%, 0);
    }
  }

  @include tablet {
    padding: 10px 64px 10px 22px;
    min-height: 92px;
    margin: 0;
  }

  @include mobile {
    padding: 10px 43px 11px 21px;
    min-height: 71px;
    margin: 0;
  }
}

.form__filter ul {
  @include list-default-remove;
  padding: 0 26px 17px;

  @include tablet {
    padding: 0 22px 19px;
  }

  @include mobile {
    padding-bottom: 10px;
  }
}

.form__filter li {
  margin-left: 34px;
  padding-bottom: 10px;

  @include tablet {
    margin-left: 39px;
    padding-bottom: 17px;
  }

  @include mobile {
    margin-left: 37px;
  }
}

.form__filter-checkbox label {
  font-size: $link-font-size;
  line-height: $price-line-height;
  position: relative;
  cursor: pointer;
  outline: none;

  @include tablet {
    font-size: $base-font-size;
    line-height: $link-line-height;
  }
}

.form__filter-checkbox input + label::before {
  position: absolute;
  content: "";
  width: 16px;
  height: 16px;
  border: 1px solid $checked-brown;
  top: 2px;
  left: -26px;
  z-index: 2;

  @include tablet {
    width: 18px;
    height: 18px;
    top: 2px;
    left: -29px;
  }
}

.form__filter-checkbox input:checked + label::before {
  background-color: $checked-brown;
}

.form__filter-checkbox input:hover + label,
.form__filter-checkbox input:focus + label {
  color: $checked-brown;

  &::before {
    opacity: 50%;
  }
}

.form__filter-checkbox input:active + label {
  opacity: 30%;
}

.form__button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 68px;
  outline: none;
  border: none;
  cursor: pointer;
  margin-top: 34px;

  &--apply {
    background-color: $checked-brown;
    color: $white;
  }

  &--reset {
    border: 1px solid $checked-brown;
    background-color: transparent;
    margin-top: 26px;
  }

  &:hover,
  &:focus {
    background-color: $input;
    color: $white;
  }

  &:active {
    opacity: 30%;
  }

  @include tablet {
    margin: 41px 39px 5px 22px;

    &--reset {
      margin-top: 19px;
    }
  }

  @include mobile {
    margin: 30px 21px 5px 20px;

    &--reset {
      margin-top: 15px;
    }
  }
}
