.header__wrapper {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 33px;
  display: flex;
  flex-direction: row;
  background-color: transparent;
  padding-left: 15px;
  padding-right: 15px;
  z-index: 5;

  @include tablet {
    top: 19px;
    padding-left: 25px;
    padding-right: 11px;
  }

  @include mobile {
    top: 16px;
    padding-left: 18px;
    padding-right: 3px;
  }
}

.header picture {
  flex-shrink: 0;
}

.header__button {
  width: 180px;
  height: 45px;
  background-color: transparent;
  color: $white;
  text-transform: uppercase;
  margin-left: 34px;
  margin-top: 5px;
  outline: none;
  border: 1px solid $white;
  border-radius: 5px;
  cursor: pointer;
  flex-shrink: 0;

  &:hover,
  &:focus {
    color: $blue;
    border-color: $blue;
  }

  &:active {
    opacity: 30%;
  }

  @include tablet {
    display: none;
  }
}
