.header__wrapper {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 33px;
  display: flex;
  flex-direction: row;
  background-color: transparent;
}

.header__button {
  width: 180px;
  height: 45px;
  background-color: transparent;
  color: $white;
  text-transform: uppercase;
  margin-left: 34px;
  margin-top: 5px;
  outline: none;
  border: 1px solid $white;
  border-radius: 5px;

  &:hover,
  &focus {
    color: $blue;
    border-color: $blue;
    cursor: pointer;
  }

  &:active {
    opacity: 30%;
  }

  @include tablet {
    display: none;
  }
}
