.login {
  background-color: $login-brown;
}

.login__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 500px;
}

.login__wrapper > a {
  align-self: flex-start;
}

.login h2 {
  margin: 0;
  padding-bottom: 45px;
}

.login a {
  @include link-default-remove;
}

.login__form {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include tablet {
    width: 100%;
  }
}

.login__form input,
.login__form input::placeholder {
  font-weight: $medium-font-weight;
  line-height: $footer-line-height;
  color: $input-grey;

  @include tablet {
    font-size: $link-font-size;
  }
}

.login__form input {
  width: 100%;
  outline: none;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid $base-color;
  padding-bottom: 9px;
  margin-bottom: 40px;

  &:last-of-type {
    margin-bottom: 5px;
  }
}

.login__form button {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 68px;
  width: 100%;
  background-color: $checked-brown;
  outline: none;
  border: none;
  color: $white;
  line-height: $base-line-height;
  font-weight: $medium-font-weight;
}

.login__form a {
  color: $input-grey;
  align-self: flex-end;
  padding-top: 5px;
  padding-bottom: 50px;
  font-size: $link-font-size;
  line-height: $link-line-height;
  font-weight: $medium-font-weight;

  @include tablet {
    font-size: $small-font-size;
    line-height: $price-line-height;
  }
}

.login__account {
  display: flex;
  flex-direction: row;
  padding-top: 20px;
}

.login__account p {
  margin: 0;
  color: $input-grey;
  padding-right: 5px;
  font-weight: $medium-font-weight;

  @include tablet {
    font-size: $link-font-size;
    line-height: $link-line-height;
  }
}

.login__account a {
  font-weight: $medium-font-weight;

  @include tablet {
    font-size: $link-font-size;
    line-height: $link-line-height;
  }
}
