.news {
  background-color: $login-brown;
  min-height: 300px;
  display: flex;
  justify-content: flex-end;
  background-size: 50% 100%;
  background-repeat: no-repeat;
  background-position: left;

  &:nth-of-type(2n) {
    justify-content: flex-start;
    background-position: right;
  }

  &--care {
    background-image: url("../img/care@1x.jpg");
    background-color: $care-grey;
  }

  &--crystal {
    background-image: url("../img/crystals@1x.jpg");
    background-color: $crystal-grey;
    grid-row-start: 2;
  }

  &--trends {
    background-image: url("../img/trends@1x.jpg");
    background-color: $trends-brown;
    background-size: cover;
    grid-row: span 2;
    align-items: flex-end;
  }

  @include tablet {
    margin-bottom: 50px;
    width: 678px;
    align-self: center;

    &--care {
      background-image: url("../img/care-tablet@1x.jpg");
    }

    &--crystal {
      background-image: url("../img/crystals-tablet@1x.jpg");
    }

    &--trends {
      background-image: url("../img/trends-tablet@1x.jpg");
      background-size: contain;
    }
  }

  @include mobile {
    background-position: top;
    min-height: 512px;
    flex-direction: column;
    background-size: contain;
    margin-bottom: 39px;
    width: 290px;

    &:nth-of-type(2n) {
      justify-content: flex-end;
      background-position: top;
    }

    &--care {
      background-image: url("../img/care-mob@1x.jpg");
    }

    &--crystal {
      background-image: url("../img/crystals-mob@1x.jpg");
    }

    &--trends {
      background-image: url("../img/trends-mob@1x.jpg");
      align-items: stretch;
    }
  }
}

.news__wrapper {
  background-color: $login-brown;
  min-height: 300px;
  width: 285px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 7px;
  padding-bottom: 11px;

  &--trends {
    padding-bottom: 47px;
  }

  @include tablet {
    min-width: 50%;

    &--trends {
      padding-bottom: 11px;
    }
  }

  @include mobile {
    width: 100%;
    min-height: 256px;
    padding: 15px;
  }
}

.news__wrapper p {
  margin: 0;
  font-size: $link-font-size;
  line-height: $price-line-height;
  color: $input-grey;
  padding-bottom: 12px;
}

.news__wrapper h3 {
  @include font-options($family-cormorant, $subtitle-font-size, $subtitle-line-height, $semibold-font-weight, $black);
  margin: 0;
  text-align: center;
  padding-bottom: 39px;
}

.news__wrapper a {
  @include link-default-remove;
  border-bottom: 1px solid $checked-brown;
  padding-bottom: 4px;
  margin: 0;
}
