.popup {
  display: none;
  overflow-y: auto;
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 3;
}

.popup__underlay {
  background-color: $black;
  opacity: 0.5;
  width: 100%;
  height: 100vh;
  position: absolute;
}

.popup__form {
  position: absolute;
  width: 490px;
  height: 605px;
  margin: 0 auto;
  left: 50%;
  top: 11%;
  transform: translateX(-50%);
}

.popup__content form {
  width: 100%;
}

.popup__content {
  width: 100%;
  padding: 30px 39px 38px;
  background-color: $blue;

  &::before {
    display: none;
  }
}

.popup h2 {
  font-size: $title-mobile-size;
  line-height: $title-mobile-height;
  padding-bottom: 14px;
}

.popup p {
  @include font-options($family-mono, $base-font-size, $base-line-height, $regular-font-weight, $white);
  padding-left: 0;
  padding-right: 10px;
}

.popup__close {
  position: absolute;
  content: "";
  top: 18px;
  right: 18px;
  width: 22px;
  height: 22px;
  background-color: inherit;
  outline: none;
  border: none;
  z-index: 4;

  &::before,
  &::after {
    position: absolute;
    content: "";
    height: 1px;
    width: 23px;
    background-color: white;
    top: 50%;
    left: 50%;
    z-index: 1;
    transform: translateX(-50%);
  }

  &::before {
    transform: translateX(-50%) rotate(45deg);
  }

  &::after {
    transform: translateX(-50%) rotate(-45deg);
  }
}

.popup__personal-information {
  display: flex;
  flex-direction: column;
  gap: 0;
  padding: 32px 0 0 0;
}

.popup__personal-information input,
.popup textarea,
.popup__personal-information input::placeholder,
.popup textarea::placeholder {
  @include font-options($family-mono, $base-font-size, $base-line-height, $regular-font-weight, $white);
}

.popup__personal-information input {
  width: 100%;
  margin-bottom: 32px;
  padding: 2px 23px 3px;
}

.popup textarea {
  width: 100%;
  min-height: 104px;
  padding: 13px 25px;
  resize: none;
}

.popup__agreement {
  display: flex;
  flex-direction: column;
  padding-top: 27px;
}

.popup__agreement label {
  @include font-options($family-mono, $button-font-size, $button-line-height, $regular-font-weight, $white);
  padding: 12px 10px 4px 49px;
}

.popup__agreement input + label::before {
  top: 27%;
  left: 0%;
}

.popup__button {
  width: 100%;
  margin-left: 0;
  margin-bottom: 23px;
}
