.promo {
  background-color: $promo-color;
  background-image: url("../img/bg-promo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  @include retina {
    background-image: url("../img/bg-promo@2x.jpg");
  }
}

.promo__wrapper {
  min-height: 881px;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  @include tablet {
    min-height: 685px;
  }

  @include mobile {
    min-height: 646px;
    align-items: flex-end;
    padding-bottom: 69px;
  }
}

.promo__image {
  position: absolute;
  right: -94%;
  top: 50%;
  transform: translateY(-35%);
  background-image: url("../img/bg-promo.svg");
  background-position: -23% 116%;
  z-index: 0;

  @include tablet {
    right: -103%;
    transform: translateY(-61.3%);
    width: 582px;
    height: 505px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../img/bg-promo-tablet.svg");
    background-position: -264% 84%;
  }

  @include mobile {

    width: 502px;
    height: 506px;
    right: -43%;
    background-image: url("../img/bg-promo-mob.svg");
    background-repeat: no-repeat;
    transform: translateY(-92.3%);
    background-position: 223px 2px;
  }
}

.promo__image img {
  @include tablet {
    width: 465px;
    height: 340px;
  }

  @include mobile {
    width: 301px;
    height: 220px;
  }
}

.promo__content {
  position: relative;
  max-width: 770px;
  display: flex;
  flex-direction: column;
  padding-top: 38px;
  z-index: 2;

  @include tablet {
    max-width: 502px;
    padding-top: 25px;
  }
}

.promo__content h2 {
  @include font-options($family-roboto, $extra-font-size, $extra-line-height, $bold-font-weight, $white);
  text-transform: uppercase;
  letter-spacing: $title-letter-spacing;
  margin: 0;
  padding-bottom: 28px;

  @include tablet {
    font-size: $extra-tablet-size;
    line-height: $extra-tablet-height;
    letter-spacing: 4.3px;
    padding-left: 73px;
    padding-bottom: 29px;
  }

  @include mobile {
    font-size: $extra-mobile-size;
    line-height: $extra-mobile-height;
    padding-left: 0;
    letter-spacing: 3px;
    position: relative;
    z-index: 2;
  }
}

.promo__content p {
  font-size: $promo-font-size;
  line-height: $promo-line-height;
  position: relative;
  margin: 0;
  padding-left: 97px;

  &::before {
    position: absolute;
    content: "";
    width: 66px;
    height: 2px;
    top: 15px;
    left: 3px;
    background-color: $white;
  }

  @include tablet {
    font-size: $promo-tablet-size;
    line-height: $promo-tablet-height;
    padding-left: 124px;

    &::before {
      top: 16px;
      left: 76px;
      width: 33px;
    }
  }

  @include mobile {
    font-size: $base-font-size;
    line-height: $footer-line-height;
    padding-left: 51px;
    padding-right: 10px;

    &::before {
      top: 15px;
      left: 3px;
    }
  }
}

.promo a {
  @include link-default-remove;
  font-size: $button-font-size;
  line-height: $button-line-height;
  position: absolute;
  bottom: 14.9%;
  left: 11.4%;
  transform: rotate(-90deg);
  cursor: pointer;

  &:hover,
  &:focus {
    color: $hover-blue;
  }

  &:active {
    opacity: 50%;
  }

  @include tablet {
    display: none;
  }
}

.promo__content a {
  @include font-options($family-roboto, $base-font-size, $promo-button-height, $bold-font-weight, $white);
  position: static;
  width: 407px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $blue;
  text-transform: uppercase;
  letter-spacing: $button-letter-spacing;
  margin-top: 41px;
  margin-left: 97px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transform: rotate(0);

  &:hover,
  &:focus {
    opacity: 80%;
  }

  &:active {
    opacity: 20%;
  }

  @include tablet {
    width: 379px;
    border-radius: 5px;
    border: none;
    align-self: flex-end;
    margin-top: 55px;
    margin-left: 0;
  }

  @include mobile {
    width: 287px;
    margin-top: 40px;
    align-self: center;
  }
}

.promo__content span {
  &:last-child {
    display: none;
  }

  @include mobile {
    &:first-child {
      display: none;
    }

    &:last-child {
      display: block;
    }
  }
}
