//Color
$white: #ffffff;
$black: #000000;
$blue: #00b2ff;
$grey: #1b2d37;
$border-grey: #626962;
$plus-grey: #c4c4c4;
$promo-color: #1b2931;
$light-grey: #ebebeb;
$base-color: #666666;
$dark-grey: #1b2d37;
$input-blue: #1abaff;
$input-white: rgba(255, 255, 255, 0.9);
$hover-blue: #87cefa;
$invalid:  #dc143c;
$icons-grey: #cdcdcd;

// Viewports
$desktop-width: 1024px;
$tablet-width: 768px;
$mobile-width: 320px;

//Font
$family-roboto: "Roboto Condensed", "Arial", sans-serif;
$family-mono: "PT Mono", "Arial", sans-serif;
$bold-font-weight: 700;
$regular-font-weight: 400;
$extra-font-size: 80px;
$extra-tablet-size: 60px;
$extra-mobile-size: 40px;
$title-font-size: 36px;
$title-tablet-size: 32px;
$title-mobile-size: 28px;
$subtitle-font-size: 24px;
$promo-font-size: 22px;
$catalog-font-size: 20px;
$promo-tablet-size: 18px;
$base-font-size: 16px;
$footer-font-size: 15px;
$button-font-size: 14px;
$small-font-size: 13px;
$extra-line-height: 93px;
$extra-tablet-height: 70px;
$title-line-height: 50px;
$extra-mobile-height: 46px;
$title-tablet-height: 45px;
$title-mobile-height: 39px;
$promo-line-height: 34px;
$subtitle-line-height: 33px;
$catalog-line-height: 30px;
$promo-tablet-height: 28px;
$footer-line-height: 25px;
$information-line-height: 24px;
$base-line-height: 21px;
$promo-button-height: 18px;
$link-line-height: 17px;
$button-line-height: 16px;
$special-line-height: 15px;
$title-letter-spacing: 5.6px;
$button-letter-spacing: 0.8px;
$footer-letter-spacing: 0.6px;

//Padding
$mobile-padding: 16px;
$tablet-padding: 15px;
$desktop-padding: 10px;
