//Color
$input-grey: #9b9997;
$base-color: #1d1613;
$white: #ffffff;
$banner-brown: #725b4a;
$catalog-brown: #725745;
$catalog-grey: #e2e6e7;
$blog-grey: #f0eae4;
$black: #000000;
$checked-brown: #a87b62;
$login-brown: #f0eae4;

//Font
$family-poppins: "Poppins", "Roboto", sans-serif;
$family-cormorant: "Cormorant Garamond", "Montserrat", serif;
$bold-font-weight: 700;
$semibold-font-weight: 600;
$medium-font-weight: 500;
$regular-font-weight: 400;

$extra-font-size: 45px;
$banner-font-size: 38px;
$title-font-size: 34px;
$subtitle-font-size: 26px;
$mob-nav-font-size: 24px;
$catalog-font-size: 22px;
$questions-font-size: 18px;
$base-font-size: 16px;
$link-font-size: 14px;
$small-font-size: 12px;

$extra-line-height: 58px;
$banner-line-height: 49px;
$title-line-height: 44px;
$mob-nav-line-height: 36px;
$subtitle-line-height: 33px;
$catalog-line-height: 28px;
$mob-catalog-line-height: 26px;
$nav-line-height: 24px;
$questions-line-height: 23px;
$link-line-height: 21px;
$base-line-height: 20px;
$price-line-height: 18px;

$desktop-padding: 15px;
