//Color
$input-grey: #9b9997;
$dark-grey: #171717;
$base-color: #1d1613;
$white: #ffffff;
$banner-brown: #6e5646;
$catalog-brown: #725745;
$catalog-grey: #e2e6e7;
$blog-grey: #f0eae4;
$black: #000000;
$checked-brown: #a87b62;
$login-brown: #f0eae4;
$border-brown: #f6f5f4;
$input: #b58f7a;
$care-grey: #c9c4bf;
$crystal-grey: #837d81;
$trends-brown: #865943;
$invalid: #ff0000;

//Font
$family-poppins: "Poppins", "Roboto", sans-serif;
$family-cormorant: "Cormorant Garamond", "Montserrat", serif;
$bold-font-weight: 700;
$semibold-font-weight: 600;
$medium-font-weight: 500;
$regular-font-weight: 400;

$extra-font-size: 45px;
$tag-font-size: 42px;
$banner-font-size: 38px;
$title-font-size: 34px;
$subtitle-font-size: 26px;
$mob-nav-font-size: 24px;
$footer-line-height: 21px;
$catalog-font-size: 22px;
$questions-font-size: 18px;
$base-font-size: 16px;
$link-font-size: 14px;
$small-font-size: 12px;

$tag-line-height: 54px;
$extra-line-height: 52px;
$banner-line-height: 49px;
$title-line-height: 44px;
$special-line-height: 38px;
$mob-nav-line-height: 36px;
$subtitle-line-height: 33px;
$login-line-height: 31px;
$catalog-line-height: 28px;
$mob-catalog-line-height: 26px;
$nav-line-height: 24px;
$questions-line-height: 23px;
$link-line-height: 21px;
$base-line-height: 20px;
$price-line-height: 18px;
$desktop-padding: 15px;
$tablet-padding: 45px;

// Viewports
$desktop-width: 1024px;
$tablet-width: 768px;
$mobile-width: 320px;
